<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
    rel="stylesheet" />
  <!-- father icon -->
  <script src="https://unpkg.com/feather-icons"></script>

  <!-- my style -->

  <link rel="stylesheet" href={{ url_for('static', filename='/css/style.css') }} />
</head>

<body>
  <!-- navbar start -->
  <nav class="navbar">
    <a href="#" class="navbar-logo">Thran <span>Resto</span> </a>
    <div class="navbar-nav">
      <a href="#home">Home</a>
      <a href="#about">Tentang Kami</a>
      <a href="#sign">Panduan</a>
      <a href="#contact">Kontak</a>

    </div>

    <div class="navbar-extra">
      <!-- <a href="#" id="search"><i data-feather="search"></i></a>
      <a href="#" id="shopping-cart"><i data-feather="shopping-cart"></i></a>
      <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a> -->
      <a href="{{ url_for('video_feed') }}" class="cta">Pesan Sekarang</a>
    </div>
  </nav>
  <!-- navbar end -->

  <!-- Hero Section Start -->
  <section class="hero" id="home">
    <main class="content">
      <h1>Welcome to
        <span>Thran Resto,</span>
      
      </h1>
      
      <h2>tempat di mana tradisi kuliner bertemu dengan inovasi teknologi AI menciptakan sensasi kuliner yang baru dan memikat hati Anda</h2>


    </main>
  </section>
  <!-- Hero Section end -->

  <!-- About Section start -->
  <section id="about" class="about">
    <h1><span> Tentang </span>Kami</h1>

    <div class="row">
      <div class="about-img">
        <img src={{ url_for('static', filename='/img/AboutUSAI.png') }} alt="Tentang Kami">
      </div>
      <div class="content">
        <h3>Kenapa memilih restoran kami?</h3>
        <br>
          <ol>
          <li>Kami hanya menggunakan bahan-bahan berkualitas tinggi dalam setiap hidangan kami.
            Dengan kerjasama erat dengan produsen lokal terpercaya, kami memastikan bahwa makanan kami segar, organik,
            dan bebas bahan tambahan yang merugikan.
            Kami berkomitmen untuk memberikan yang terbaik untuk para pelanggan kami.</li>
            <br>
          <li>Kami memiliki tim yang berdedikasi dan bersemangat dalam memberikan pelayanan terbaik kepada setiap
            pelanggan.
            Dari pelayan yang ramah hingga koki yang berbakat, setiap anggota tim kami terlatih untuk memberikan
            pengalaman kuliner yang tak terlupakan.</li>
            <br>
          <li>Restoran kami telah mengadopsi kecerdasan buatan (AI) dalam operasional kami.
            Penggunaan teknologi AI memungkinkan kami memberikan pelayanan yang lebih efisien, personalisasi rekomendasi
            makanan, dan interaksi yang lebih interaktif kepada pelanggan kami.</li>
          </ol>
     </div>
    </div>
  </section>
  <!-- About Section end -->

  <!-- Sign Section start -->
  <section id="sign" class="sign">
    <h1><span>Cara memesan dapat dilihat pada gambar dibawah</span></h1>

    <div class="row">
      <div class="about-img">
        <img src={{ url_for('static', filename='/img/Menu/sign language.jpg') }} alt="Tentang Kami">
      </div>
    </div>
  </section>
  <!-- Sign Section end -->

  <!-- contact section start -->
  <section id="contact" class="contact">
    <h1><span> Kontak </span>Kami</h1>
    <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, provident!</p> -->
    <div class="row">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.243991386678!2d114.5897036504759!3d-3.2896253420084887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2de4236d36a67b17%3A0x5042dbf92a87c47!2sKawai%20Kofie!5e0!3m2!1sid!2sid!4v1676799327921!5m2!1sid!2sid"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>

      <form action="">
        <div class="input-grup">
          <i data-feather="user"></i>
          <input type="text" placeholder="nama">
        </div>
        <div class="input-grup">
          <i data-feather="mail"></i>
          <input type="text" placeholder="email">
        </div>
        <div class="input-grup">
          <i data-feather="phone"></i>
          <input type="text" placeholder="no HP">
        </div>
        <button type="submit" class="btn">Kirim Pesan</button>
      </form>
    </div>
  </section>
  <!-- contact section end -->

  <!-- Footer start -->

  <footer>
    <div class="socials">
      <a href="#"><i data-feather="instagram"></i></a>
      <a href="#"><i data-feather="twitter"></i></a>
      <a href="#"><i data-feather="facebook"></i></a>
    </div>

    <div class="credit">
      <p>Created by <a href="http://portofilioandre.epizy.com/?i=1">Firdinal Juliandre</a>. | &copy; 2023.</p>
    </div>
  </footer>
  <!-- Footer end -->

  <!-- father icon -->
  <script>
    feather.replace();
  </script>

  <!-- my javascript -->
  <script src={{ url_for('static', filename='/js/script.js') }}></script>
</body>

</html>